---
layout: default
title: data4vn
custom_css: purple
custom_font: font2
hero_area:
  enable: true
  title: "data4vn"
  sub_title: "Chương trình đào tạo data science cho tất cả mọi người"
  slider_image: "/assets/images/art/mockup2.png"
  shape_image: "/assets/images/dummy.png"
  button_text: "Tìm hiểu thêm"
  button_url: "#"
three_columns_area:
  enable: true
  title: "Who is it for"
  sub_title: "Dành cho mọi đối tượng"
  services:
  - title: Học online
    description: Khoá học hoàn toàn online, kèm với hỗ trợ trực tiếp từ đội ngũ giảng
      viên qua Slack, và Q&A live-stream hàng tuần qua Zoom.
    image: "/assets/images/concept/concept14@2x.png"
    button_text: ''
    button_url: "#"
  - title: Python
    description: Tất cả các khoá học sẽ dùng ngôn ngữ lập trình Python
    image: "/assets/images/concept/concept19@2x.png"
    button_text: ''
    button_url: "#"
  - title: Việt hoá
    description: Nội dung các khoá học sẽ được Việt hoá để phù hợp với thị trường
      Việt Nam
    image: "/assets/images/concept/concept18@2x.png"
    button_text: ''
    button_url: "#"
two_columns_one_area:
  enable: true
  title: "What we offer"
  sub_title: "Phương pháp học hiện đại"
  image: "/assets/images/concept/concept15@2x.png"
  lists:
  - title: Bài giảng online
    description: Giáo trình được đúc kết qua nhiều năm kinh nghiệm giảng dạy data science tại các trường đại học hàng đầu trên thế giới.
  - title: Tư động hoá chấm điểm
    description: Bài tập được thiết kế hiện đại, với autograder giúp người học tự kiểm tra kết quả
  - title: Không cần cài đặt phần mềm
    description: Học viên có thể làm bài tập và tham khảo tài liệu trên browser. Không cần cài đặt phức tạp. Tiết kiệm thời gian.
  - title: Hỗ trợ 24/7 qua Slack
    description: Đội ngũ giảng viên luôn sẵn lòng trả thời các thắc mắc của bạn qua Slack. Kết nối và thảo luận với các học viên cùng lớp.
  - title: Live-stream Q&A hàng tuần qua Zoom
    description: Cùng nhau thảo luận và live-coding với hướng dẫn của giảng viên qua Zoom.
two_columns_two_area:
  enable: true
  title: "Why us"
  sub_title: Tại sao chọn data4vn
  image: "/assets/images/concept/concept17.png"
  tabs:
  - title: Lộ trình học bài bản
    content: '"Giáo trình học được phát triển và đúc kết qua nhiều năm kinh nghiệm giảng dạy data science từ bậc cử nhân tới thạc sĩ tại các trường
       đại học hàng đầu trên thế giới"

      '
  - title: Lịch học linh hoạt
    content: '"Chỉ cần có Wifi, bạn có thể học ở bất cứ đâu, bất cứ lúc nào, tự chủ quản lý thời gian học. 
      Không cần chờ lớp khai giảng. Tiết kiêm thời gian và chi phí đi lại.
      Bạn học theo tốc độ của riêng mình"

      '
  - title: Ứng dụng thực tiễn
    content: '"Chương trình học tập trung vào ứng dụng thực tiễn của data science
      qua các case study, dataset thật. Không tốn thời gian học những lý thuyết xa vời. 
      Đến với data4vn, bạn sẽ được trang bị kiến thức và kỹ năng được áp dụng thực tế trong công việc."

      '
video_area:
  enable: true
  title: Bài giảng demo
  sub_title: Xem demo khoá học
  image: "/assets/images/art/bg25.jpg"
  video_url: https://www.youtube.com/watch?v=26TbMXXOe0I
portfolios_area:
  enable: true
  title: "Khoá học"
  sub_title: "Các khoá học đang được phát triển bởi data4vn"
  button_text: "Đăng ký"
  button_url: "#"
  projects:

    - title: "Nullam Mollis"
      sub_title: "Application"
      image: "/assets/images/art/fp12.jpg"
  
    - title: "Euismod Risus"
      sub_title: "Video, Application"
      image: "/assets/images/art/fp15.jpg"
  
    - title: "Ridiculus Tristique"
      sub_title: "Branding"
      image: "/assets/images/art/fp8.jpg"
  
    - title: "Tristique Venenatis"
      sub_title: "Video, Application"
      image: "/assets/images/art/fp6.jpg"
  
    - title: "Video Editing"
      sub_title: "Video, Application"
      image: "/assets/images/art/fp14.jpg"
  
    - title: "Cursus Fusce"
      sub_title: "Application"
      image: "/assets/images/art/fp13.jpg"

testimonials_area:
  enable: true
  title: "Testimonials"
  sub_title: "Sự hài lòng của học viên được đặt lên hàng đầu."
  image: "/assets/images/concept/concept16@2x.png"
  testimonials:
  - quote: '"Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi cras
      mattis consectetur purus posuere"

      '
    author: Cornelia Gibson
    bio: Financial Analyst
  - quote: '"Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Vestibulum id ligula porta felis euismod semper. Cras justo odio, posuere consectetur
      est at lobortis."

      '
    author: Coriss Ambady
    bio: Marketing Specialist
  - quote: '"Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi cras
      mattis consectetur purus posuere"

      '
    author: Coriss Ambady
    bio: Marketing Specialist
clients_carousel:
  enable: true
pricing_table:
  enable: true
  title: Chi phí hợp lý
  sub_title: Học thoải mái không giới hạn
  btn_url: "#"
  description: '"Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla
    non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet
    non magna. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus
    ac facilisis in, egestas eget quam."

    '
  plans:
  - title: Individual
    monthly_price: "9"
    pricing_url: "#"
    icon: "/assets/images/icons/ec-mobile.png"
    features:
    - "<strong>1</strong> Project"
    - "<strong>100K</strong> API Access"
    - "<strong>100MB</strong> Storage"
    - Custom <strong>Cloud</strong> Services
    - Weekly <strong>Reports</strong>
    - 7/24 <strong>Support</strong>
  - title: Business
    monthly_price: "19"
    pricing_url: "#"
    icon: "/assets/images/icons/ec-store.png"
    features:
    - "<strong>5</strong> Project"
    - "<strong>200K</strong> API Access"
    - "<strong>250MB</strong> Storage"
    - Custom <strong>Cloud</strong> Services
    - Weekly <strong>Reports</strong>
    - 7/24 <strong>Support</strong>
faq_area:
  enable: true
  title: Câu hỏi thường gặp
  sub_title: Câu hỏi thương gặp
  image: "/assets/images/concept/concept13.png"
  tabs:
  - question: Can I cancel my subscription?
    answer: 'Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
      ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet
      fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed
      odio dui. Cras justo odio, dapibus ac facilisis.

      '
  - question: Which payment methods do you accept
    answer: 'Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
      ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet
      fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed
      odio dui. Cras justo odio, dapibus ac facilisis.

      '
  - question: How can I manage my Account?
    answer: 'Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
      ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet
      fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed
      odio dui. Cras justo odio, dapibus ac facilisis.

      '
  - question: Is my credit card information secure?
    answer: 'Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
      ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet
      fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed
      odio dui. Cras justo odio, dapibus ac facilisis.

      '
  - question: How do I get my subscription receipt?
    answer: 'Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
      ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet
      fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed
      odio dui. Cras justo odio, dapibus ac facilisis.

      '

---
{% include header.html extra_class="absolute transparent nav-uppercase" logo_class="logo" %}
{% if page.hero_area.enable %}
<div class="wrapper white-wrapper">
  <div class="rev_slider_wrapper fullscreen-container">
    <div id="slider7" class="rev_slider fullscreenbanner" data-version="5.4.7">
      <ul>
        <li data-transition="fade" data-thumb="{{page.hero_area.title}}">
          {% if page.hero_area.shape_image %}
           <img src="{{page.hero_area.shape_image}}" data-bgcolor="#fff" alt="{{page.hero_area.title}}"/>
          {% endif %}
          <div class="tp-caption tp-rotate bg-opacity-default tp-shape tp-shapewrapper" 
               data-x="['center','center','center','center']" 
               data-y="['middle','middle','middle','middle']" 
               data-hoffset="['0','0','0','0']" 
               data-voffset="['0','0','0','0']"
	           data-visibility="['on','on','on','off']"
               data-width="3000" 
               data-height="900" 
               data-whitespace="nowrap" 
               data-type="shape" 
               data-basealign="slide" 
               data-responsive_offset="off" 
               data-responsive="off" 
               data-frames='[{"from":"opacity:0;","speed":2000,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 5;">
          </div>
		  <!-- /.tp-caption -->
		  {% if page.hero_area.slider_image %}
          <div class="tp-caption" 
               data-x="left" 
               data-y="middle" 
               data-hoffset="['420','380','310','310']" 
               data-voffset="'20','20','-10','-10']" 
               data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
               data-visibility="['on','on','on','on']" 
               data-width="none" 
               data-height="none" 
               data-type="image" 
               data-responsive_offset="on" style="z-index: 5;"><img 
               data-lazyload="" src="{{page.hero_area.slider_image}}" 
               data-ww="['750','550','550','550']" 
               data-hh="auto" alt="{{page.hero_area.title}}" />
          </div>
		  <!-- /.tp-caption -->
		  {% endif %}
		  {% if page.hero_area.title %}
          <div class="tp-caption font-weight-600 color-dark" 
               data-x="['left','left','left','left']" 
               data-y="middle" 
               data-hoffset="['50','50','30','30']" 
               data-voffset="['-80','-80','-80','-50']" 
               data-fontsize="['40','40','38','38']" 
               data-lineheight="['50','50','48','48']" 
               data-width="['350','350','330','330']" 
               data-textAlign="['left','left','left','left']" 
               data-whitespace="['normal','normal','normal','normal']" 
               data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
               data-responsive="on" 
               data-responsive_offset="on" style="z-index: 9;"> {{page.hero_area.title}}
          </div>
          {% endif %}
		  <!-- /.tp-caption -->
		  {% if page.hero_area.sub_title %}
          <div class="tp-caption font-weight-400 color-dark" 
               data-x="['left','left','left','left']" 
               data-y="middle" 
               data-hoffset="['50','50','30','30']"  
               data-voffset="['30','30','30','60']" 
               data-fontsize="['26','26','24','24']" 
               data-lineheight="['36','36','34','34']" 
               data-width="['350','350','330','330']" 
               data-textAlign="['left','left','left','left']" 
               data-whitespace="['normal','normal','normal','normal']" 
               data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]' 
               data-responsive="on" 
               data-responsive_offset="on" style="z-index: 9;">{{page.hero_area.sub_title}}
          </div>
		  <!-- /.tp-caption -->
		  {% endif %}
		  {% if page.hero_area.button_text %}
          <a class="tp-caption btn btn-l btn-default scroll" 
               data-x="['left','left','left','left']" 
               data-y="middle" 
               data-hoffset="['50','50','30','30']" 
               data-voffset="['125','125','125','155']" 
               data-width="['auto','auto','auto','auto']" 
               data-textAlign="['left','left','left','left']" 
               data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
               data-responsive="on" 
               data-responsive_offset="on" style="z-index: 9;" href="{{page.hero_area.button_url}}"> {{page.hero_area.button_text}}
          </a>
		  <!-- /.tp-caption -->
		  {% endif %}
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
  <!-- /.rev_slider_wrapper -->
</div>
<!-- /.wrapper -->
{% endif %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    {% if page.three_columns_area.enable %}
    <div class="three-columns-wrapper">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <div class="text-center">
            <h2 class="title-bg bg-default color-default">{{page.three_columns_area.title}}</h2>
          </div>
          <div class="space10"></div>
          <h3 class="display-3 text-center">{{page.three_columns_area.sub_title}}</h3>
          <div class="space30"></div>
        </div>
      </div>
      <div class="row gutter-60 text-center align-items-end">
        {% for service in page.three_columns_area.services %}
        <div class="col-md-4">
          <figure class="mb-30"><img src="{{service.image}}"  alt="{{service.title}}"/></figure>
          <h4>{{service.title}}</h4>
          <p class="mb-15">{{service.description}}</p>
          <div class="text-center"><a href="{{service.button_url}}" class="more">{{service.button_text}}</a></div>
        </div>
        <div class="space20 d-md-none"></div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% assign colmns_data_one = page.two_columns_one_area %}
    {% if colmns_data_one.enable %}
    <div class="two-columns-one">
      <div class="space140"></div>
        <div class="row align-items-center">
          {% if colmns_data_one.image %}
          <div class="col-lg-6">
            <figure>
              <img src="{{colmns_data_one.image}}"  alt="{{colmns_data_one.title}}"/>
            </figure>
          </div>
          <!--/column -->
          {% endif %}
          <div class="space20 d-md-none"></div>
          <div class="space50 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-6 pl-60 pl-md-15">
            <h2 class="title-bg bg-default color-default">{{colmns_data_one.title}}</h2>
            <div class="space10"></div>
            <h3 class="display-3">{{colmns_data_one.sub_title}}</h3>
            <div class="space20"></div>
            <div class="row">
              {% for list in colmns_data_one.lists %}
              <div class="col-md-6">
                <h5><span class="color-default">{{forloop.index}}.</span> {{list.title}}</h5>
                <p>{{list.description}}</p>
              </div>
              {% assign value = forloop.index | modulo:2 %}
              {% if value == 0 %}
               <div class="space10 d-none d-md-block"></div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
    {% endif %}
    {% assign columns_data_two = page.two_columns_two_area %}
    {% if columns_data_two.enable %}
    <div class="two-columns-two">
      <div class="space140"></div>
        <div class="row align-items-center">
          {% if columns_data_two.image %}
          <div class="col-lg-6 order-lg-2 text-center">
             <figure>
               <img src="{{columns_data_two.image}}" alt="{{columns_data_two.title}}"/>
            </figure>
          </div>
          {% endif %}
          <div class="space20 d-md-none"></div>
          <div class="space50 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-6 pr-60 pr-md-15">
            <h2 class="title-bg bg-default color-default">{{columns_data_two.title}}</h2>
            <div class="space10"></div>
            <h3 class="display-3">{{columns_data_two.sub_title}}</h3>
            <div class="space20"></div>
            <div id="accordion-1" class="accordion-wrapper simple">
              {% for tabs_data in columns_data_two.tabs %}
              <div class="card">
                <div class="card-header" id="accordion-heading-1-{{forloop.index}}">
                  <h5>
                    <button data-toggle="collapse" data-target="#accordion-collapse-1-{{forloop.index}}" aria-expanded="true" aria-controls="accordion-collapse-1-{{forloop.index}}">
                      {{tabs_data.title}}
                    </button>
                  </h5>
                </div>
                <div id="accordion-collapse-1-{{forloop.index}}" class="collapse {% if forloop.index == 1 %} show {% endif %}" aria-labelledby="accordion-heading-1-{{forloop.index}}" data-parent="#accordion-1">
                  <div class="card-body">
                    <p>{{tabs_data.content}}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>  
    {% endif %}
  </div>
  {% if page.video_area.enable %}
  <div class="video-area">
  <div class="wrapper image-wrapper bg-image gradient-overlay inverse-text" data-image-src="{{page.video_area.image}}">
    <div class="container inner pt-140 pb-140 text-center">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <h2 class="title-bg bg-white color-dark">{{page.video_area.title}}</h2>
          <div class="space10"></div>
          <h3 class="display-3">{{page.video_area.sub_title}}</h3>
          <div class="space10"></div>
          <div class="light-gallery-wrapper">
            <a href="{{page.video_area.video_url}}" class="btn-play lightbox"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {% endif %}
  {% if page.progress_area.enable %}
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <div class="row align-items-center text-center text-lg-left">
        <div class="col-lg-6">
          <h2 class="title-color color-gray">{{page.progress_area.title}}</h2>
          <h3 class="display-3">{{page.progress_area.sub_title}}</h3>
        </div>
        <!--/column -->
        <div class="space20 d-md-none"></div>
        <div class="space50 d-none d-md-block d-lg-none"></div>
        <div class="col-lg-6">
          <div class="row text-center">
            {% for list in page.progress_area.lists %}
            <div class="col-md-6">
              <div class="progressbar circle pink" data-value="{{list.numbers}}"></div>
              <h5>{{list.title}}</h5>
              <p>{{list.description}}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.wrapper -->
  {% endif %}
  {% if page.portfolios_area.enable %}
  <div class="wrapper white-wrapper" id="portfolio">
    <div class="container inner">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <h2 class="title-color color-gray text-center">{{page.portfolios_area.title}}</h2>
          <h3 class="display-3 text-center">{{page.portfolios_area.sub_title}}</h3>
          <div class="space40"></div>
        </div>
      </div>
      <div class="grid grid-view">
        <div class="tiles text-center light-gallery-wrapper">
          <div class="row isotope">
            {% for project in page.portfolios_area.projects %}
            <div class="item item-detailed grid-sizer col-md-6 col-lg-4">
              {% if project.image %}
              <figure class="overlay overlay2 rounded mb-20">
                <a href="{{project.image}}" class="lightbox"> 
                  <img src="{{project.image}}" alt="{{project.title}}"/>
                </a>
              </figure>
              {% endif %}
              <div class="post-content">
                <h2 class="post-title mb-10"><a href="{{project.url}}">{{project.title}}</a></h2>
                <div class="meta mb-0">{{project.sub_title}}</div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- /.grid -->
      {% if page.portfolios_area.button_text %}
      <div class="space20"></div>
      <div class="text-center">
        <a href="{{page.portfolios_area.button_url}}" class="btn btn-l btn-default mb-0">{{page.portfolios_area.button_text}}</a>
      </div>
      {% endif %}
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% endif %}
    {% if page.testimonials_area.enable %}
    <div class="wrapper white-wrapper inner">
      <div class="container">
        <div class="row">
          <div class="col-md-7 mx-auto">
            <div class="text-center">
              <h2 class="title-bg bg-default color-default">
                {{page.testimonials_area.title}}
              </h2>
            </div>
            <div class="space10"></div>
            <h3 class="display-3 text-center">
               {{page.testimonials_area.sub_title}}
            </h3>
            <div class="space40"></div>
          </div>
        </div>
        <div class="row align-items-center">
          {% if page.testimonials_area.image %}
          <div class="col-lg-6 pr-60 pr-md-15">
            <figure><img src="{{page.testimonials_area.image}}"  alt="{{page.testimonials_area.title}}"/></figure>
          </div>
          {% endif %}
          <div class="space20 d-md-none"></div>
          <div class="space50 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-5">
            <div class="basic-slider owl-carousel gap-small dots-left" data-margin="30">
              {% for testimonial in page.testimonials_area.testimonials %}
              <div class="item">
                <blockquote class="icon icon-left larger text-left">
                  <p>{{testimonial.quote}}</p>
                  <div class="blockquote-details">
                    <div class="info p-0">
                      <h6 class="mb-0">{{testimonial.author}}</h6>
                      <span class="meta mb-0">{{testimonial.bio}}</span>
                    </div>
                  </div>
                </blockquote>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% if page.clients_carousel.enable %}
        <div class="space80"></div>
         {% include clients_carousel.html %}
        {% endif %}
      </div>
    </div>
    {% endif%}
    <div class="wrapper light-wrapper">
      <div class="container inner">
        {% assign pricing_data = page.pricing_table %}
        {% if pricing_data.enable %}
        <div class="row">
          <div class="col-lg-5 pr-50 pr-md-15">
            <h2 class="title-color color-gray">{{pricing_data.title}}</h2>
            <h3 class="display-3">{{pricing_data.sub_title}}</h3>
            <div class="space20"></div>
            <p>{{pricing_data.description}}</p>
            <div class="space10"></div>
            {% if pricing_data.pricing_url %}
             <a href="{{pricing_data.pricing_url}}" class="btn">See All Prices</a>
            {% endif %}
          </div>
          <!--/column -->
          <div class="space70 d-none d-md-block d-lg-none"></div>
          <div class="space20 d-md-none"></div>
          <div class="col-lg-7">
            <div class="pricing-wrapper">
              <div class="row no-gutters">
                {% for pricing in pricing_data.plans %}
                <div class="col-md-6">
                  <div class="pricing panel box bg-white shadow">
                    <div class="panel-heading">
                      <div class="prices color-dark">
                        <div class="price price-show"><span class="price-currency">$</span><span class="price-value">{{pricing.monthly_price}}</span> <span class="price-duration">month</span></div>
                      </div>
                      <h4 class="panel-title mb-0">{{pricing.title}}</h4>
                    </div>
                    <div class="panel-body">
                      <table class="table">
                        {% for features in pricing.features %}
                          <tr>
                             <td>{{features}}</td>
                          </tr>
                        {% endfor %}
                      </table>
                    </div>
                    <div class="panel-footer"><a href="{{pricing.pricing_url}}" class="btn" role="button">Choose Plan</a></div>
                  </div>
                </div>
               {% endfor %}
              </div>
            </div>
          </div>
        </div>
       {% endif %}
      </div>
    </div>
    {% if page.faq_area.enable %}
    <div class="wrapper light-wrapper inner-bottom">
        <div class="container">
            <div class="row">
              {% if page.faq_area.image %}
                <div class="col-lg-6">
                    <figure>
                      <img src="{{page.faq_area.image}}"  alt="{{page.faq_area.title}}"/>
                    </figure>
                </div>
                {% endif %}
                <div class="space50 d-none d-md-block d-lg-none"></div>
                <div class="space10 d-md-none"></div>
                <div class="col-lg-6 pl-60 pl-md-15">
                    <h2 class="title-bg bg-default color-default">{{page.faq_area.title}}</h2>
                    <div class="space10"></div>
                    <h3 class="display-3">{{page.faq_area.sub_title}}</h3>
                    <div class="space20"></div>
                    <div id="accordion-2" class="accordion-wrapper simple">
                       {% for tab in page.faq_area.tabs %}
                        <div class="card">
                            <div class="card-header" id="accordion-heading-2-1">
                                <h5>
                                    <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-2-1">
                                     {{tab.question}}
                                    </button>
                                </h5>
                            </div>
                            <div id="accordion-collapse-2-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-2-{{forloop.index}}" data-target="#accordion-2" data-parent="#accordion-2">
                                <div class="card-body">
                                    <p>
                                       {{tab.answer}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- /.accordion-wrapper -->
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% include footer_3.html light_logo="true" %}
