<footer class="{% if include.extra_class %} {{include.extra_class}} {% else %} dark-wrapper inverse-text {% endif %}">
  <div class="container inner">
    <div class="row">
      <div class="col-md-12 col-lg-3 text-center text-lg-center">
        <div class="widget"> 
          {% if include.light_logo %}
            <img src="{{site.data.general_settings.light_logo_1x}}" srcset="{{site.data.general_settings.light_logo_1x}} 1x, {{site.data.general_settings.light_logo_2x}} 2x" alt="{{site.data.general_settings.title}}"/>
            {% else %}
            <img src="{{site.data.general_settings.black_logo_1x}}" srcset="{{site.data.general_settings.black_logo_1x}} 1x, {{site.data.general_settings.black_logo_2x}} 2x" alt="{{site.data.general_settings.title}}"/>
          {% endif %}
          {% if site.data.general_settings.description %}
          <div class="space20"></div>
          <p>{{site.data.general_settings.description}}</p>
          {% endif %}
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="container inner pt-0 pb-40 d-flex align-items-center">
    <p class="mb-0 mr-auto">{{site.data.general_settings.copyright_text}}</p>
    <ul class="social social-mute social-s ml-auto">
      {% for social_links in site.data.general_settings.social_accounts.links %}
       <li><a href="{{social_links.url}}"><i class="{{social_links.icon}}"></i></a></li>
      {% endfor %}
    </ul>
  </div>
</footer>
